body {
  background: #231F20;
  font-family: "Quicksand", sans-serif;
}
.input-group-prepend {
  margin-right: 0;
}
.input-group-text {
  height: 35px;
  display: block;
}
.description-list span {
  color: #CCCA8B;
}
ul.setup-panel li a:hover h4 {
  color: #58595B;
}
ul.setup-panel li a:hover .list-ball {
  background-color: #CCCA8B;
}
ul.setup-panel li h4 {
  color: #231F20;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
ul.setup-panel li p {
  color: #58595B;
}
ul.setup-panel li.disabled h4, ul.setup-panel li.disabled p {
  color: #231F20;
}
ul.setup-panel li.disabled a:hover h4 {
  color: #231F20;
}
ul.setup-panel li.disabled a:hover .list-ball {
  background-color: #58595B;
}
ul.setup-panel:before {
  background: #C6C9CC;
}
.list-ball {
  background: #999966;
}
li.disabled .list-ball {
  background: #58595B;
}
li.active .list-ball {
  background: #CCCA8B;
}
span.info-btn a {
  color: #999966;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
span.info-btn a:hover {
  color: #58595B;
}
table.info-proyecto-table {
  color: #231F20;
}
table.info-resumenplan-table, table.info-ajustesplan-table, table.info-financiacion-table {
  color: #231F20;
}
span.table-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
legend {
  background: #999966;
}
legend span.step-heading {
  font-family: "Quicksand", sans-serif;
}  
legend span.step-number {
  font-family: "Quicksand", sans-serif;
}
legend span.step-number:before {
  background: #58595B;
}
span.step-description {
  color: #58595B;
}
span.step-description-inner {
  color: #999966;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.inmueble-block {
  font-family: "Quicksand", sans-serif;
}
.inmueble-block.selected {
  background: #999966;
}
.inmueble-block:hover {
  background: #999966;
}
input, select {
  font-family: "Quicksand", sans-serif;
}
label {
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: #58595B;
}
span#separacion_valor {
  font-family: "Quicksand", sans-serif;
}
span#valor_cuotamensual {
  font-family: "Quicksand", sans-serif;
}
#valor_financiar {
  font-family: "Quicksand", sans-serif;
}
.actions ul li a {
  background: #999966;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0;
}
.actions ul li a:hover {
  background-color: #CCCA8B;
}
.actions ul li.btn-grey a {
  background: #58595B;
}
.actions ul li.btn-grey a:hover {
  background: #C6C9CC;
}
.actions ul li.btn-green a {
  background: #999966;
}
.actions ul li.btn-green a:hover {
  background: #CCCA8B;
}
.input-group-text {
  background-color: #999966;
  border: 1px solid #999966;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #999966;
  background-color: #999966;
}
.form-control:focus {
  border-color: #CCCA8B !important;
}
.block-resumen span.block-resumen-value {
  font-family: "Quicksand", sans-serif;
}
.block-resumen span.block-resumen-text {
  font-family: "Quicksand", sans-serif;
}
.block-cuota_propuesta.validate {
  border: 2px solid #CCCA8B;
}
.block-cuota_separacion.validate {
  border: 2px solid #CCCA8B;
}
.block-cuota_cuotainicial.validate {
  border: 2px solid #CCCA8B;
}
.block-cuota.block-cuota_propuestacuotas.validate {
  border: 2px solid #CCCA8B;
}
.block-cuota span.block-cuota-value {
  color: #231F20;
  font-family: "Quicksand", sans-serif;
}
.block-cuota span.block-cuota-text {
  color: #58595B;
  font-family: "Quicksand", sans-serif;
}
.block-cuota span.block-cuota-small {
  color: #58595B;
  font-family: "Quicksand", sans-serif;
}
.block-propuesta {
  border: 2px solid #CCCA8B;
}
.block-propuesta span.block-propuesta-value {
  color: #231F20;
  font-family: "Quicksand", sans-serif;
}
.block-propuesta span.block-propuesta-text {
  color: #58595B;
  font-family: "Quicksand", sans-serif;
}
.block-propuesta span.block-propuesta-small {
  color: #58595B;
  font-family: "Quicksand", sans-serif;
}
button.btn-full {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0;
  font-size: 15px;
}
button.btn-full.green {
  background: #999966;
}
button.btn-full.green:hover {
  background: #CCCA8B;
}
button.btn-half {
  background: #999966;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0;
  font-size: 15px;
}
button.btn-half:hover {
  background-color: #CCCA8B;
}
button.btn-half:disabled {
  background: #C6C9CC;
}
button.btn-half.green {
  background: #999966;
}
button.btn-half.green:hover {
  background: #CCCA8B;
}
button.btn-half.green:disabled {
  background: #58595B;
}
button.btn-half.grey {
  background: #58595B;
}
button.btn-half.grey:hover {
  background: #C6C9CC;
}
input:checked + .slider {
  background-color: #999966;
}
.sico-tooltip:after {
  width: 20px;
  height: 20px;
  content: "!";
  background: #C6C9CC;
  display: inline-block;
  border-radius: 10px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  margin-top: 12px;
}
button.sico-tooltip {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  margin-top: 10px;
  cursor: default;
}
button.sico-tooltip:after {
  margin-top: -10px;
  margin-left: -10px;
}
label.sico-tooltip {
  display: table;
  width: auto;
  padding-right: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
}
label.sico-tooltip:after {
  margin-top: 8px;
  display: inline-table;
  text-align: center;
}
span.step-description-inner.sico-tooltip {
  padding-right: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
  display: table;
}
span.sico-tooltip:after {
  margin-top: 6px;
  display: inline;
  display: inline-table;
  text-align: center;
}
.rangeslider {
  background: #58595B;
}
.rangeslider__fill {
  background: #999966;
}
.rangeslider__handle {
  background: #58595B;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  background: #58595B;
}
small#range-min-value:before {
  background: #58595B;
}
small#range-max-value:before {
  background: #C6C9CC;
}
small#range-max-value.checked:before {
  background: #999966;
}
#js-rangeslider-0 .rangeslider__handle, #js-rangeslider-1 .rangeslider__handle {
  color: #58595B;
  border: 4px solid #CCCA8B;
}