ul.description-list {
  display: block;
  padding: 0 10px;
  text-align: justify;
  @include mobile {
    padding: 0 60px;
  }
}
ul.description-list li:before {
  // content: "•";
  // float: left;
  // margin-right: 10px;
  // font-size: 25px;
  // color: #3095ce;
  // line-height: 22px;
}
.description-list span {
  font-weight: bold;
  color: $blue;
}

ul.subsidios-list {
  display: block;
  text-align: justify;
  font-size: 12px;
  line-height: 20px;
}
ul.subsidios-list li:before {
  // content: "•";
  // float: left;
  // margin-right: 10px;
  // font-size: 25px;
  // color: #3095ce;
  // line-height: 22px;
}
.subsidios-list p {
  margin-bottom: 5px;
  font-weight: bold;
}
.subsidios-list span {
  font-weight: bold;
  color: $blue;
  text-align: right;
  display: inline-block;
  float: right;
}

.sico-tooltip:after {
  width: 20px;
  height: 20px;
  content: "!";
  background: $blue;
  display: inline-block;
  border-radius: 10px;
  margin-left: 10px;
  color: $white;
  font-size: 14px;
  line-height: 20px;
  font-family: $roboto;
  position: absolute;
  margin-top: 12px;
}
button.sico-tooltip {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  margin-top: 4px;
  cursor: default;
}
button.sico-tooltip:after {
  margin-top: -10px;
  margin-left: -10px;
}

label.sico-tooltip {
  display: table;
  width: auto;
  padding-right: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
}
label.sico-tooltip:after {
  margin-top: 4px;
  display: inline-table;
  text-align: center;
}

label.sico-tooltip.label-left {
  margin: auto;
  text-align: left;
  display: block;
  margin-bottom: 8px;
}

span.step-description-inner.sico-tooltip {
  padding-right: 40px;
  margin: 0 auto;
  margin-bottom: 16px;
  display: table;
}
span.sico-tooltip:after {
  margin-top: 6px;
  display: inline;
  display: inline-table;
  text-align: center;
}

// CARROUSEL
.carousel-indicators {
  position: relative !important;
  height: auto !important;
}
.carousel-indicators li {
  width: 100px !important;
  height: auto !important;
}

