
body {
  font-family: 'Open Sans', sans-serif;
}

.datos-proyecto {
  padding-top: 60px;
}
.datos-proyecto span {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.datos-contacto {
  padding-bottom: 30px;  
  padding-top: 30px;
}
.datos-contacto span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: center;
}

table.table-resumen {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
}

table.table-resumen tbody {
  text-align: right;
}
table.table-resumen td.al {
  text-align: left;
}

table.table-resumen tr th {
  border: 1px solid #24709b;
  background: #24709b;
  color: #ffffff;
  padding: 4px 10px;
  text-transform: uppercase;
  text-align: center;
}
table.table-resumen tr td {
  border: 1px solid #7e868c;
  padding: 0 5px;
}
td.td-hide {
  border: none !important;
}

th.tr-2 {
  background: #ffffff !important;
  color: #7e868c !important;
  text-align: right;
  font-weight: 300;
}

span.table-title {
  text-align: center;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.logo-constructora {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.logo-constructora img {
  margin: 20px 0;
  width: 180px;
}
.logo-proyecto {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.logo-proyecto img {
  margin: 20px 0;
  width: 180px;
}