.bloque-calendario {
  margin-bottom: 20px;
}

.bloque-hora {
  margin-bottom: 20px;
}

span.calendario-title {  
  color: $grey;
  display: block;  
  font-family: $oswald;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;  
}

.selector-hora {
  border-radius: 5px;
  border: 1px solid $light-grey;
  height: 180px;
  overflow-y: scroll;
}

.elemento-hora {
  background: $white;
  border: 2px solid $green;
  border-radius: 5px;  
  color: $grey;  
  cursor: pointer;
  display: block;
  height: 40px;
  font-family: $oswald;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.05em;  
  line-height: 40px;
  margin: 15px;
  text-align: center;
  text-transform: uppercase;
  width: auto;

  &:hover {
    background: $green;
    color: $white;
    transition: 400ms;
  }

  &.selected {
    background: $green;
    border: 2px solid $green;
    color: $white;
  }
}

img.img-final {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;

  @include mobile {
    width: auto;
  }
}