.header-img {
  text-align: center;
}
.header-img img {
  margin: 30px 0;
  padding: 0;  
  width: 400px;  
}

h1 {
  color: #262626;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 40px 0;
  text-align: center;
  padding: 0 30px;
}

.sico-dots img {
  display: block;
  width: 60px;
  height: 6px;
  margin: 0 auto;
  margin-bottom: 30px;
}

span {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
p.main-text {
  line-height: 32px;
  font-size: 20px;
  padding: 0;
  /* padding: 0 160px; */
  margin: 20px 0;
  text-align: center;
}
p.big-text {
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  /* padding: 0 160px; */
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

span.name-construcotra {
  text-align: center;
  display: block;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
}

.logo-constructora {
  margin: 0 auto;
  text-align: center;
}
.logo-constructora img {
  margin: 20px 0;
  width: 180px;
}

.logo-sico {
  float: right;
  width: 120px;
}
.logo-sico span {
  font-size: 12px;
  text-align: center;
  display: block;
}

@media screen and (max-width: 768px) {
  .header-img img {
    padding: 0 50px;
    width: 100%;    
  }
  h1 {
    font-size: 28px;
  }
  p.main-text {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    /* padding: 0 40px !important; */
  }
  p.big-text {
    font-size: 16px;
    line-height: 24px;    
    padding: 0;
    /* padding: 0 40px !important; */
  }  
}