body {
  background-color: #C16200;
}

img  {
  width: 100%;
}

.container.bloque {
  background-color: #ffffff;
}
.header-proyecto {
  text-align: center;
}
.header-proyecto img {
  margin: 0;
  padding: 0;  
  width: 100%;
}

.white-bg {
  background-color: #ffffff;
}
.grey-bg {
  background-color: #383838;
}
.primary-bg {
  background-color: #f5c713;
}
.secondary-bg {
  background-color: #881600;
}
.alternative-bg {
  background-color: #f4f4f4;
}


table.tabla-resumen-inmueble {    
  margin: 0 auto;
  margin-bottom: 60px;
  width: auto;
}
table.tabla-datos-cotizacion {  
  background-color: #f4f4f4;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 300px;
}


table.tabla-resumen-inmueble span {
  color: #881600;
  font-size: 26px;
  font-family: 'Open Sans';
  line-height: 36px;
  font-weight: 400;
  padding-right: 20px;
}
table.tabla-resumen-inmueble p {
  color: #2c3e50;
  font-size: 26px;
  font-family: 'Open Sans';
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 0;
}

table.tabla-datos-cotizacion p {
  display: block;
  font-family: 'Open Sans', sans-serif;  
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;  
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
}


span.tabla-title {
  color: #2c3e50;
  display: block;
  text-align: center;
  font-family: 'Oswald';
  font-size: 18px;
  margin: 20px 0 10px 0;  
  text-transform: uppercase;
}


span.title {
  color: #262626;
  margin: 0 auto;
  text-align: center;
  display: table;
  height: 50px;
  background: #f5c713;
  width: auto;
  line-height: 50px;
  padding: 0 20px;
  font-family: 'Oswald';
  font-size: 26px;
  position: absolute;
  left: 50%;
  width: 200px;
  z-index: 10;
  margin-left: -100px;
}
span.title.inverted {
  color: #f5c713;
  background: #262626;
}
span.title.wide {
  width: 300px;
  margin-left: -150px;
}
span.description {
  color: #383838;
  font-family: 'Open Sans';
  font-style: italic;
  text-align: center;
  display: block;
  font-size: 22px;
  line-height: 34px;
  padding: 20px 100px;
  margin-bottom: 30px;
}




/* TEXT */
h1 {
  color: #881600;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 40px 0 40px 0;
  text-align: center;
  padding: 0 30px;
}
h2 {
  color: #7f7f7f;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  padding: 30px;
}
.secondary-bg h2 {
  color: #ffffff;
}
h3 {
  color: #881600;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-align: left;
  padding: 20px 0;
  line-height: 34px;
}



/* RECORRIDO 360 */
.recorrido360 {
  height: 500px;
}
.recorrido360 iframe {
  border: 0;
}

/* RECORRIDO VIRTUAL */
.recorridovirtual {
  height: 500px;
}
.recorridovirtual iframe {
  border: 0;
}

/* CARACTERÍSTICAS */
.modulo-caracteristicas img {
  width: 100%;
}
.row.gallery {
  padding: 0 15px;
}
.row.gallery .col-6 {
  padding: 0 !important;
}
.row.gallery .col-12 {
  padding: 0 !important;
}


/* RESUMEN */
table.tabla-resumen-cotizacion {
  margin: 0 auto;
  margin-top: 80px;
}
table.tabla-resumen-cotizacion span {
  color: #881600;
  font-size: 26px;
  font-family: 'Open Sans';
  line-height: 36px;
  font-weight: 600;
  padding: 0 10px;
}
table.tabla-resumen-cotizacion p {
  color: #2c3e50;
  font-size: 22px;
  font-family: 'Open Sans';
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 0 10px;
}
table.tabla-resumen-cotizacion p.table-line {
  border: 1px solid #f5c713;
  background-color: #f5c713;
}


/* CONTACTO ASESOR */
.modulo-asesor {
}
.modulo-asesor .row {
  padding: 60px 40px 40px;
}
.modulo-asesor p {
  font-family: 'Open Sans';
  padding-right: 60px;
}
.modulo-asesor a {
  color: #383838;
}
button {
  border: none;
  height: 50px;
  padding: 0 12px;
  font-size: 18px;
  font-family: 'Oswald';
  line-height: 50px;
  background: #3095ce;
  color: #ffffff;
}

.header-img {
  text-align: center;
}
.header-img img {
  margin: 30px 0;
  padding: 0;  
  width: 400px;  
}



/* NOTA */
.modulo-nota {
  background-color: #f5c713;
  border-top: 1px solid #7f7f7f;
}
p.text-note  {
  color: #383838;
  font-size: 12px;
  padding: 20px;
}

/* FOOTER */
span.contact {
  text-align: center;
  color: #ffffff;
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
}


/* COPYRIGHT */
.copyright {
  background-color: #383838;
  color: #ffffff;
  font-size: 12px;
  padding: 20px;
}



.sico-dots img {
  display: block;
  width: 60px;
  height: 6px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.sico-dots.mb img {
  margin-bottom: 10px;
}

.firma-contacto {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  border-top: 2px solid #e3e3e3;
  width: 250px;
}
.firma-contacto .firma-correo a {
  color: #2c3e50; 
  line-height: 26px; 
  padding-left: 6px; 
  text-decoration: none;
}
.firma-contacto .firma-web a {
  color: #2c3e50; 
  line-height: 26px; 
  padding-left: 6px; 
  text-decoration: none;
}

span {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
p.main-text {
  line-height: 32px;
  font-size: 20px;
  padding: 0;
  /* padding: 0 160px; */
  margin: 20px 0;
  text-align: center;
}
p.big-text {
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  /* padding: 0 160px; */
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
p.blue-text {
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  /* padding: 0 160px; */
  margin: 20px 0;
  text-align: center;
}


span.name-construcotra {
  text-align: center;
  display: block;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
}

.logo-constructora {
  margin: 0 auto;
  text-align: center;
}
.logo-constructora img {
  margin: 20px 0;
  width: 180px;
}

.logo-sico {
  float: right;
  width: 120px;
}
.logo-sico span {
  font-size: 12px;
  text-align: center;
  display: block;
}
.firma-mail {
  margin: 0 auto;
  width: auto;
}
.header-banner {
  padding-top: 30px;
  margin-bottom: 30px;
}
.header-banner img {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.header-banner h2 {
  color: #ffffff;
  margin-top: 15px;
  padding: 18px 0;
  margin-bottom: 0;
  text-align: center;
  background: #2c3e50;
}
.sico-logo img {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  span.description {
    font-size: 18px;
    line-height: 26px;
    padding: 20px 40px;
  }
  table.tabla-resumen-cotizacion span {
    font-size: 16px;
  }
  table.tabla-resumen-cotizacion p {
    font-size: 16px;
  }
}